body {
    font-family: Roboto, sans-serif;
    display: flex;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("/Week_7_JS/Day_05/xp_exercises/images/4aa99b6ad2d2cbc7cb04a41571885a8f.jpg");
    background-color: rgb(0, 0, 0, 0.3);
    background-blend-mode: darken;
  }
  
  #img {
    position: absolute;
    top: 20px;
    margin-left: 38%;
  }

  #logo {
    border-radius: 20px;
    border: solid 1px rgb(0, 0, 0);
    height: 250px;

  }

  #main {
    margin-left: 38%;
    width: 436px;
  }

  #yellow-frame {
    border: solid 2px gold;
    border-radius: 20px;
    background-color: black;
    position: relative;
    margin-top: 80px;
    padding-top: 20px;
    height: 350px;
    color: white;
    text-align: center;        
  }

  #btn {    
    margin-top: 20px;
    margin-left: 20%;
  }

  #find {
    border: solid 2px gold;
    border-radius: 10px;
    height: 40px;
    width: 250px;
    font-weight: 700;
    font-size: 20px;
    
  }